<!-- Title: Press -->
<!-- Slug: page-press -->

<!-- wp:template-part {"slug":"header","theme":"area51-reunion","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"area51-press-section","layout":{"type":"constrained"}} -->
<main class="wp-block-group area51-press-section">
    <!-- wp:post-title {"level":1,"className":"area51-page-title"} /-->
    <!-- wp:post-content /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"area51-reunion","tagName":"footer"} /-->
